<div class="card" style="background-color: #34495E; color: rgb(212, 212, 212);">
    <div class="card-content">
        <app-title title="Estadísticas" />
        <span class="subtitle" style="color: white;">Gráficas</span>
    </div>
</div>
<hr>

<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <canvas id="marcas"></canvas>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <canvas id="lineas"></canvas>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <canvas id="productos"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <canvas id="vendedoras"></canvas>
    </div>
</div>