<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <span class="title">Marca mas vendida</span> <br>
                <canvas id="marcas"></canvas>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <span class="title">Linea mas vendida</span> <br>
                <canvas id="lineas"></canvas>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <span class="title">TOP 3 Promotoras</span> <br>
                <canvas id="top3"></canvas>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="title">Mas vendidos</span> <br>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Mystic</th>
                            <th>Qerametik</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{contarTotalesPorMarcaYLinea(ServiceReportes.reportes()).productoMasVendidoPorMarca.Mystic}}
                            </td>
                            <td>{{contarTotalesPorMarcaYLinea(ServiceReportes.reportes()).productoMasVendidoPorMarca.Qerametik}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <canvas id="vendedoras"></canvas>
    </div>
</div>