<span class="header">
    @if(planificacionService.loading()){
    <app-loadings></app-loadings>
    } @else {
    @if(indexPlanificacion){
    <div class="field is-grouped">
        <div class="control">
            <label for="" class="label">Mes</label>
            <div class="select">
                <select (change)="FijasPorDestajo()">
                    <option value="Fijas">Fijas</option>
                    <option values="NoFijas">Por destajo</option>
                </select>
            </div>
        </div>
        <div class="control">
            <label for="" class="label">Mes</label>
            <div class="select">
                <select [(ngModel)]="indexPlanificacion" (change)="cambiarPlanificacion()">
                    @for(planificaciones of planificacionService.planificacion(); track $index){
                    <option [value]="$index">{{planificaciones.mes}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="control">
            <label for="" class="label">Inicio</label>
            <input type="date" class="input"
                [value]="simplificar(planificacionService.planificacion()[indexPlanificacion].inicio)" disabled>
        </div>
        <div class="control">
            <label for="" class="label">Cierre</label>
            <input type="date" class="input"
                [value]="simplificar(planificacionService.planificacion()[indexPlanificacion].cierre)" disabled>
        </div>
    </div>
    }
    }
    <br>
</span>

<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <span class="title">Marca mas vendida</span> <br>
                <canvas id="marcas"></canvas>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <span class="title">Linea mas vendida</span> <br>
                <canvas id="lineas"></canvas>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <span class="title">TOP 3 Promotoras</span> <br>
                <canvas id="top3"></canvas>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="title">Mas vendidos</span> <br>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Mystic</th>
                            <th>Qerametik</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ProductoMasVendidoPorMarca.Mystic}}
                            </td>
                            <td>{{ProductoMasVendidoPorMarca.Qerametik}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <canvas id="vendedoras"></canvas>
    </div>
</div>