<span class="cuerpo">
    <img src="../../assets/logo.jpg" />
    <br>

    <span class="form">
      <div class="field">
        <div class="control">
          <input type="text" class="input" placeholder="Nombre de usuario" [(ngModel)]="Correo">
        </div>
      </div>
  
      <div class="field">
        <div class="control">
          <input type="password" name="" id="" class="input" placeholder="Contraseña" [(ngModel)]="Password">
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" (click)="login()">
            <span class="icon"><i class="fa-solid fa-right-to-bracket"></i></span>
            <span>Ingresar</span>
          </button>
        </div>
        <div class="control">
            <input type="checkbox" id="recuerdame"> <span> Recuerdame</span>
        </div>
      </div>
    </span>
</span>