<div class="contenedor">
  <div class="overlay">
    <div class="contenido">
      <img src="../../assets/logo APP.png" class="logo" alt="Logo de la APP" />
      <div class="form">
        <div class="field">
          <div class="control">
            <input type="text" class="input" placeholder="Nombre de usuario" [(ngModel)]="Correo" />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="password" class="input" placeholder="Contraseña" [(ngModel)]="Password" />
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary" (click)="login()">
              <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
              <span>Ingresar</span>
            </button>
          </div>
          <div class="control">
            <label>
              <input type="checkbox" id="recuerdame" /> <span>Recuérdame</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>