<div class="modal" [ngClass]="{'is-active':modalCliente}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <p class="title">Buscar cliente</p>
            <input type="text" name="" id="" class="input" (input)="BuscarCliente($event.target)">
            <hr>
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Clientes</th>
                    </tr>
                </thead>
                <tbody>
                    @for (cliente of filteredClientes; track $index) {
                    <tr>
                        <td><i class="fas fa-plus" style="color: rgb(100, 180, 100)"
                                (click)="addCliente(cliente._id)"></i></td>
                        <td>{{cliente.cliente}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class=" formulario_envio_informacion">

    <div class="card"
        style="background: linear-gradient(to right, #001a72, #003c99, #005ebf, #4a9dc1, #6bcaba); color: rgb(212, 212, 212);">
        <div class="card-content">
            <span class="title" style="color: rgb(212, 212, 212);">
                {{loginSevice.usuario.nombre}} {{loginSevice.usuario.apellido}}
            </span> <br>
            <b style="font-weight: bold;">Zona: </b>{{loginSevice.usuario.region}} <br>
            <span class="subtitle" style="color: rgb(212, 212, 212);">
                <div class="field is-grouped">
                    <div class="control">
                        <!-- [disabled]="loginSevice.usuario.restringido" -->
                        <input type="date" class="input" [(ngModel)]="date_log" [max]="date_log"
                            (change)="verFormato($event.target)" disabled>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <hr>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Información del reporte</p>
            <button class="card-header-icon" aria-label="more options">
                <span class="icon" [ngClass]="{'rotado': isRotated()}" (click)="toggleInformacion()">
                    <i class="fas fa-angle-up" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content" [ngClass]="{'oculto':!Informacion(), 'activo':Informacion()}">
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Marca</label>
                    <div class="select">
                        <select [(ngModel)]="marca_seleccionada" (change)="buscarClientePorNombre() ">
                            <option value="Mystic">Mystic</option>
                            <option value="Qerametik">Qerametik</option>
                            <option value="Falta">Falta</option>
                        </select>
                    </div>
                </div>
                @if((marca_seleccionada && marca_seleccionada != 'Falta') && estab){
                <div class="control">
                    <label for="" class="label"> </label>
                    <button class="button is-success" (click)="modalCliente = true" [disabled]="planificado">
                        <span class="icon"><i class="fas fa-search"></i></span>
                    </button>
                </div>
                <div class="control">
                    <label for="" class="label">Establecimiento</label>
                    <div class="select">
                        <select [(ngModel)]="establecimiento" [disabled]="planificado">
                            @for (clientes of ClientServices.clientes(); track $index)
                            {
                            <option value="{{clientes._id}}">{{clientes.cliente}}</option>
                            }
                        </select>
                    </div>
                </div>
                } @else if (marca_seleccionada && marca_seleccionada === 'Falta') {
                <div class="control">
                    <label for="" class="label">Motivo</label>
                    <div class="select">
                        <select [(ngModel)]="establecimiento">
                            <option value="Reposo">Reposo Medico</option>
                            <option value="Malestar">Malestar</option>
                            <option value="Asunto personal">Asunto Personal</option>
                        </select>
                    </div>
                </div>
                }
            </div>
            @if(marca_seleccionada != 'Falta'){
            <div class="field is-grouped">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="evento" value="Impulso" [(ngModel)]="tipo"> Impulso
                    </label>
                </div>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="evento" value="Evento" [(ngModel)]="tipo"> Evento
                    </label>
                </div>
            </div>
            @if (tipo === 'Evento') {
            @if(marca_seleccionada === 'Mystic'){
            <div class="card">
                <div class="card-content">
                    <div class="field is-grouped">
                        <div class="control">
                            <input type="radio" name="Tipo_evento" value="Juega y Gana" [(ngModel)]="tipo_evento"> Juega
                            y Gana
                        </div>
                        <div class="control">
                            <input type="radio" name="Tipo_evento" value="Color y estilo" [(ngModel)]="tipo_evento">
                            Color y estilo
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input type="radio" name="Tipo_evento" value="Cabellos con estilo"
                                [(ngModel)]="tipo_evento"> Cabellos con estilo
                        </div>
                        <div class="control">
                            <input type="radio" name="Tipo_evento" value="Dale y gana" [(ngModel)]="tipo_evento"> Dale y
                            gana
                        </div>
                    </div>
                </div>
            </div>
            }@else{
            <div class="card-content">
                <div class="field is-grouped">
                    <div class="control">
                        <input type="radio" name="Tipo_evento" value="Qerastyle" [(ngModel)]="tipo_evento"> Qerastyle
                    </div>
                    <div class="control">
                        <input type="radio" name="Tipo_evento" value="Ruleta" [(ngModel)]="tipo_evento">
                        Ruleta
                    </div>
                </div>
            </div>
            }
            }
            @if (establecimiento && tipo && marca_seleccionada) {
            @if(tipo != 'Evento'){
            <button class="button is-primary" (click)="NextStep()">
                <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                <span>Continuar</span>
            </button>
            }@else if (tipo_evento) {
            <button class="button is-primary" (click)="NextStep()">
                <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                <span>Continuar</span>
            </button>
            }
            }
            } @else {
            @if(establecimiento){
            <button class="button is-primary" (click)="reportarFalta()">
                <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                <span>Reportar</span>
            </button>
            }
            }
        </div>
    </div>

    @if (CargadaInformacion()) {
    <div class="card">
        <div class="card-content">
            <hr>
            <table class="table is-fullwidth is-striped">
                @if(ProductosSelected.length > 0){
                <thead>
                    <tr>
                        <!-- <th></th> -->
                        <th>Producto</th>
                        <th>Alm. Inicial</th>
                        <th>Alm. Final</th>
                        <th>Vendido</th>
                    </tr>
                </thead>
                }
                <tbody>
                    @for (productoAgregado of ProductosSelected; track $index) {
                    <tr>
                        <td>{{productoAgregado.producto.marca}} - {{productoAgregado.producto.producto}}
                            ({{productoAgregado.producto.linea}}) - {{productoAgregado.producto.puntos}} Pts.</td>
                        <td style="width: 100px"><input type="number" class="input" placeholde="Cantidad vendida"
                                [(ngModel)]="productoAgregado.inicial"></td>
                        <td style="width: 100px">
                            <input type="number" class="input" placeholde="Cantidad vendida"
                                [(ngModel)]="productoAgregado.final">
                        </td>
                        <td>{{productoAgregado.inicial - productoAgregado.final}} Und.</td>
                    </tr>
                    } @empty {
                    <div class="notification is-primary is-light">
                        Aun no haz indicado ningun producto para reportar su venta.
                    </div>
                    }
                </tbody>
            </table>
            @if(ProductosSelected.length > 0){
            <div class="field">
                <div class="control">
                    <textarea class="textarea" placeholder="Observación" [(ngModel)]="obervacion"></textarea>
                </div>
            </div>
            }
            @if (ProductosSelected.length > 0 && VerificarReporte() && obervacion) {
            <button class="button is-primary" (click)="Reportar()">
                <span class="icon"><i class="fas fa-check"></i></span>
                <span>Reportar</span>
            </button>
            }
        </div>
    </div>
    }

</div>