<app-new-planificacion [newPlanificacion]="newPlanificacion" (onCloseModal)="cerrar_()" [plan]="plan"
    (onAgregarPlanificacion)="addplanificacion()" />
<div class="banner">
    @if(servicePlanificacion.loading()){
    <app-loadings></app-loadings>
    } @else {
    <span class="title">Plan mensual</span>
    <hr>
    <div class="field is-grouped">
        <div class="control">
            <label for="" class="label">Mes</label>
            <div class="select">
                <select [(ngModel)]="data.mes">
                    <option value="Enero">Enero</option>
                    <option value="Febrero">Febrero</option>
                    <option value="Marzo">Marzo</option>
                    <option value="Abril">Abril</option>
                    <option value="Mayo">Mayo</option>
                    <option value="Junio">Junio</option>
                    <option value="Julio">Julio</option>
                    <option value="Agosto">Agosto</option>
                    <option value="Septiembre">Septiembre</option>
                    <option value="Octubre">Octubre</option>
                    <option value="Noviembre">Noviembre</option>
                    <option value="Diciembre">Diciembre</option>
                </select>
            </div>
        </div>
        <div class="control">
            <label for="" class="label">Inicio</label>
            <input type="date" name="" id="" class="input" (change)="calcularSemanas()" [(ngModel)]="data.inicio">
        </div>
        <div class="control">
            <label for="" class="label">Cierre</label>
            <input type="date" name="" id="" class="input" (change)="calcularSemanas()" [(ngModel)]="data.cierre">
        </div>
    </div>
    <hr>
    <span style="font-size: x-large;">Metas</span> <br> <br>

    <div class="columns">
        <div class="column">
            <span style="font-weight: bolder;">Mystic (Promotoras fijas)</span>
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Impulso (Diario)</label>
                    <input type="number" name="" id="" class="input"
                        [(ngModel)]="data.metas.tradicional.mystic.impulso">
                </div>
                <div class="control">
                    <label for="" class="label">Evento</label>
                    <input type="number" name="" id="" class="input" [(ngModel)]="data.metas.tradicional.mystic.evento">
                </div>
            </div>
            <span style="font-weight: bolder;">Qerametik (Promotoras fijas)</span>
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Impulso (Diario)</label>
                    <input type="number" name="" id="" class="input"
                        [(ngModel)]="data.metas.tradicional.qerametik.impulso">
                </div>
                <div class="control">
                    <label for="" class="label">Evento</label>
                    <input type="number" name="" id="" class="input"
                        [(ngModel)]="data.metas.tradicional.qerametik.evento">
                </div>
            </div>
        </div>
        <div class="column">
            <span style="font-weight: bolder;">Mystic (Promotoras por destajo)</span>
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Impulso (Diario)</label>
                    <input type="number" name="" id="" class="input" [(ngModel)]="data.metas.rebranding.mystic.impulso">
                </div>
                <div class="control">
                    <label for="" class="label">Evento</label>
                    <input type="number" name="" id="" class="input" [(ngModel)]="data.metas.rebranding.mystic.evento">
                </div>
            </div>
            <span style="font-weight: bolder;">Qerametik (Promotoras por destajo)</span>
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Impulso (Diario)</label>
                    <input type="number" name="" id="" class="input"
                        [(ngModel)]="data.metas.rebranding.qerametik.impulso">
                </div>
                <div class="control">
                    <label for="" class="label">Evento</label>
                    <input type="number" name="" id="" class="input"
                        [(ngModel)]="data.metas.rebranding.qerametik.evento">
                </div>
            </div>
        </div>
    </div>
    <hr>

    <span style="font-size: x-large;">
        Incentivos por ventas
    </span>
    <br><br>

    @for(metas_ of [].constructor(metas); track $index; let i = $index){
    <div class="field is-grouped">
        <div class="control">
            <label for="" class="label">de (puntos)</label>
            <input type="number" name="" id="" class="input" [(ngModel)]="data.incentivos[i].de">
        </div>
        <div class="control">
            <label for="" class="label">hasta (puntos)</label>
            <input type="number" name="" id="" class="input" [(ngModel)]="data.incentivos[i].hasta">
        </div>
        <div class="control">
            <label for="" class="label">Incentivo (USD)</label>
            <input type="number" name="" id="" class="input" [(ngModel)]="data.incentivos[i].incentivo">
        </div>
        @if(i === metas - 1){
        <div class="control">
            <label for="" class="label"> </label>
            <button class="button is-success" (click)="addMeta()">
                <span class="icon"><i class="fas fa-plus"></i></span>
            </button>
        </div>
        @if(i > 0){
        <div class="control">
            <label for="" class="label"> </label>
            <button class="button is-danger" (click)="removeMeta(i)">
                <span class="icon"><i class="fas fa-minus"></i></span>
            </button>
        </div>
        }
        }
    </div>
    }

    <br>
    }
</div>

<hr>

<span class="title">planificacion por semana</span>

@if(semanas.length > 0){
<div class="tabs">
    <ul>
        @for (semanas of semanas; track $index; let i = $index) {
        <li [ngClass]="{'is-active':Aja(i)}" (click)="semana_selected = i">
            <a>Semana {{i+1}}</a>
        </li>
        }
    </ul>
</div>


<table class="table is-fullwidth is-striped">
    @for(empleada of promotoras.users(); track $index;let a = $index){
    <thead>
        <tr>
            <th>{{empleada.nombre}} {{empleada.apellido}}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if(semana_selected !== undefined){
            @for(dia of semanas[semana_selected]; track $index; let k = $index){
            <td>
                {{ dia.dia }}: {{ dia.fecha | date: 'dd/MM/yyyy' }}
                @if(!existe(dia.fecha, empleada.nombre) ){
                <button class="button is-primary" (click)="generarPlan(empleada.nombre, dia.fecha)">
                    <span>Asignar Cliente</span>
                </button>
                } @else {
                <div class="asignado">
                    Asignado
                    <div class="popup">
                        <b>Tipo: </b>{{planification(dia.fecha, empleada.nombre ).tipo}} <br>
                        <b>Cliente: </b>{{planification(dia.fecha, empleada.nombre ).cliente_nombre}}
                    </div>
                </div>
                }
            </td>
            }
            }
        </tr>
    </tbody>
    }
</table>
<br>
}@else {
<br>
Aun no hay planificación semanal
}

<br>
<button class="button is-success" (click)=" crearPlanificacion()">
    <span>Guardar</span>
</button>