<app-new-planificacion [newPlanificacion]="newPlanificacion" (onCloseModal)="cerrar_()" [plan]="plan"
    (onAgregarPlanificacion)="addplanificacion()" />
<div class="banner">
    @if(servicePlanificacion.loading()){
    <app-loadings></app-loadings>
    } @else {
    @if(login.usuario.role != 'Ejecutiva'){

    <span class="title">Plan mensual</span>
    <hr>
    <div class="field is-grouped">
        <div class="control">
            <label for="" class="label">Mes</label>
            @if(!servicePlanificacion.loading()){
            <div class="select">
                <select (change)="cambiarPlanificacion($event.target)">
                    @for (meses of servicePlanificacion.planificacion(); track $index) {
                    <option value="{{$index}}">{{meses.mes}}</option>
                    }
                    @for (mes of filtrarMese(); track $index) {
                    <option value="{{mes}}">{{mes}}</option>
                    }
                </select>

            </div>
            }
        </div>
        <div class="control">
            <label for="" class="label">Inicio</label>
            <input type="date" name="" id="" class="input" (change)="calcularSemanas()" [(ngModel)]="data.inicio">
        </div>
        <div class="control">
            <label for="" class="label">Cierre</label>
            <input type="date" name="" id="" class="input" (change)="calcularSemanas()" [(ngModel)]="data.cierre">
        </div>
    </div>
    <hr>
    <span style="font-size: x-large;">Precio promedio de productos</span> <br> <br>
    <div class="field is-grouped">
        <div class="control">
            <label for="" class="label">Mystic</label>
            <input type="number" class="input" [(ngModel)]="data.precios.Mystic">
        </div>
        <div class="control">
            <label for="" class="label">Qerametik</label>
            <input type="number" class="input" [(ngModel)]="data.precios.Qerametik">
        </div>
    </div>

    <hr>
    <span style="font-size: x-large;">Metas</span> <br> <br>

    <div class="columns">
        <div class="column">
            <span style="font-weight: bolder;">Mystic (Promotoras fijas)</span>
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Impulso (Diario)</label>
                    <input type="number" name="" id="" class="input"
                        [(ngModel)]="data.metas.tradicional.mystic.impulso">
                </div>
                <div class="control">
                    <label for="" class="label">Evento</label>
                    <input type="number" name="" id="" class="input" [(ngModel)]="data.metas.tradicional.mystic.evento">
                </div>
            </div>
            <span style="font-weight: bolder;">Qerametik (Promotoras fijas)</span>
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Impulso (Diario)</label>
                    <input type="number" name="" id="" class="input"
                        [(ngModel)]="data.metas.tradicional.qerametik.impulso">
                </div>
                <div class="control">
                    <label for="" class="label">Evento</label>
                    <input type="number" name="" id="" class="input"
                        [(ngModel)]="data.metas.tradicional.qerametik.evento">
                </div>
            </div>
        </div>
        <div class="column">
            <span style="font-weight: bolder;">Mystic (Promotoras por destajo)</span>
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Impulso (Diario)</label>
                    <input type="number" name="" id="" class="input" [(ngModel)]="data.metas.rebranding.mystic.impulso">
                </div>
                <div class="control">
                    <label for="" class="label">Evento</label>
                    <input type="number" name="" id="" class="input" [(ngModel)]="data.metas.rebranding.mystic.evento">
                </div>
            </div>
            <span style="font-weight: bolder;">Qerametik (Promotoras por destajo)</span>
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Impulso (Diario)</label>
                    <input type="number" name="" id="" class="input"
                        [(ngModel)]="data.metas.rebranding.qerametik.impulso">
                </div>
                <div class="control">
                    <label for="" class="label">Evento</label>
                    <input type="number" name="" id="" class="input"
                        [(ngModel)]="data.metas.rebranding.qerametik.evento">
                </div>
            </div>
        </div>
    </div>
    <hr>

    <span style="font-size: x-large;">
        Incentivos por ventas
    </span>
    <br><br>

    <div class="columns">
        <div class="column">
            <span class="title">Incentivos Mystic</span>
            @for(metas_ of [].constructor(metas); track $index; let i = $index){
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">de (puntos)</label>
                    <input type="number" name="" id="" class="input" style="width: 100px;"
                        [(ngModel)]="data.incentivos[i].de">
                </div>
                <div class="control">
                    <label for="" class="label">hasta (puntos)</label>
                    <input type="number" name="" id="" class="input" style="width: 100px;"
                        [(ngModel)]="data.incentivos[i].hasta">
                </div>
                <div class="control">
                    <label for="" class="label">Incentivo (USD)</label>
                    <input type="number" name="" id="" class="input" style="width: 100px;"
                        [(ngModel)]="data.incentivos[i].incentivo">
                </div>
                @if(i === metas - 1){
                <div class="control">
                    <label for="" class="label"> </label>
                    <button class="button is-success" (click)="addMeta()">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                    </button>
                </div>
                @if(i > 0){
                <div class="control">
                    <label for="" class="label"> </label>
                    <button class="button is-danger" (click)="removeMeta(i)">
                        <span class="icon"><i class="fas fa-minus"></i></span>
                    </button>
                </div>
                }
                }
            </div>
            }
        </div>
        <div class="column">
            <span class="title">Incentivos Qerametik</span>
            @for(metas__ of [].constructor(metas_); track $index; let i = $index){
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">de (puntos)</label>
                    <input type="number" name="" id="" class="input" style="width: 100px;"
                        [(ngModel)]="data.incentivos_qerametik[i].de">
                </div>
                <div class="control">
                    <label for="" class="label">hasta (puntos)</label>
                    <input type="number" name="" id="" class="input" style="width: 100px;"
                        [(ngModel)]="data.incentivos_qerametik[i].hasta">
                </div>
                <div class="control">
                    <label for="" class="label">Incentivo (USD)</label>
                    <input type="number" name="" id="" class="input" style="width: 100px;"
                        [(ngModel)]="data.incentivos_qerametik[i].incentivo">
                </div>
                @if(i === metas_ - 1){
                <div class="control">
                    <label for="" class="label"> </label>
                    <button class="button is-success" (click)="addMeta_()">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                    </button>
                </div>
                @if(i > 0){
                <div class="control">
                    <label for="" class="label"> </label>
                    <button class="button is-danger" (click)="removeMeta_(i)">
                        <span class="icon"><i class="fas fa-minus"></i></span>
                    </button>
                </div>
                }
                }
            </div>
            }
        </div>
    </div>


    <br>
    }
    }
</div>

<br>

<span class="title">Planificación por semana</span>

<br> <br>

<div class="field">
    <div class="control">
        <label for="" class="label">Selecciona región</label>
        <div class="select">
            <select [(ngModel)]="Region">
                <option value="Barcelona">Barcelona</option>
                <option value="Barquisimeto">Barquisimeto</option>
                <option value="Cumana">Cumana</option>
                <option value="Gran Caracas">Gran Caracas</option>
                <option value="Guaira">Guaira</option>
                <option value="Guarenas">Guarenas</option>
                <option value="Maracay">Maracay</option>
                <option value="Maracaibo">Maracaibo</option>
                <option value="Merida">Merida</option>
                <option value="Puerto Ordaz">Puerto Ordaz</option>
                <option value="Pto. Ordaz">Pto. Ordaz</option>
                <option value="Tachira">Tachira</option>
                <option value="Valencia">Valencia</option>
                <option value="Valera">Valera</option>

            </select>
        </div>
    </div>
</div>
<br> <br>

<div class="tabs">
    <ul>
        @for (semanas of semanas; track $index; let i = $index) {
        <li [ngClass]="{'is-active':Aja(i)}" (click)="semana_selected = i">
            <a>Semana {{i+1}}</a>
        </li>
        }
    </ul>
</div>

@for (promotora of FiltroPorRegion(); track $index) {
<div class="card">
    <div class="card-header">
        <p class="card-header-title">{{promotora.nombre}} {{promotora.apellido}}</p>
    </div>
    <div class="card-content">
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    @for(dia of semanas[semana_selected]; track $index; let k = $index){
                    <th style="text-align: center;">
                        {{dia.dia}} <br>
                        {{ dia.fecha | date: 'dd/MM' }}
                    </th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    @for(dia of semanas[semana_selected]; track $index; let k = $index){
                    <td style="text-align: center;">
                        @if(!existe(dia.fecha, promotora.nombre) ){
                        <button class="button is-success is-small" (click)="generarPlan(promotora.nombre, dia.fecha)">
                            <span class="icon"><i class="fas fa-plus"></i></span>
                        </button>
                        }@else {

                        <span class="icon info-icon" (click)="togglePopup(dia.fecha, promotora.nombre)">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="icon edit-icon" (click)="editarPlan(dia.fecha, promotora.nombre)">
                            <i class="fas fa-edit"></i>
                        </span>

                        <!-- Popup -->
                        <div class="popup" [class.show]="isPopupOpen(dia.fecha, promotora.nombre)">
                            <div class="popup-content">
                                <p><strong>Tipo:</strong> {{ planification(dia.fecha, promotora.nombre).tipo }}</p>
                                <p><strong>Cliente:</strong> {{ planification(dia.fecha,
                                    promotora.nombre).cliente_nombre }}</p>
                                <button class="button is-small is-danger" (click)="cerrarPopup()">Cerrar</button>
                            </div>
                        </div>
                        }
                    </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>
}

<!-- <table class="table is-fullwidth is-striped">
    <thead>
        <tr>
            <th>Promotora</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @for (promotora of FiltroPorRegion(); track $index) {
        <tr>
            <th>{{promotora.nombre}} {{promotora.apellido}}</th>
            <th>
                @for(dia of semanas[semana_selected]; track $index; let k = $index){
                <span>{{dia.dia}} </span>
                }
            </th>
        </tr>
        }
    </tbody>
</table> -->


<!-- <table class="table is-fullwidth is-striped">
    @for(empleada of promotoras.users(); track $index;let a = $index){
    <thead>
        <tr>
            <th>{{empleada.nombre}} {{empleada.apellido}}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if(semana_selected !== undefined){
            @for(dia of semanas[semana_selected]; track $index; let k = $index){
            <td>
                {{ dia.dia }}: {{ dia.fecha | date: 'dd/MM/yyyy' }}
                @if(!existe(dia.fecha, empleada.nombre) ){
                <button class="button is-primary" (click)="generarPlan(empleada.nombre, dia.fecha)">
                    <span>Asignar Cliente</span>
                </button>
                } @else {
                <div class="asignado">
                    Asignado
                    <div class="popup">
                        <b>Tipo: </b>{{planification(dia.fecha, empleada.nombre ).tipo}} <br>
                        <b>Cliente: </b>{{planification(dia.fecha, empleada.nombre ).cliente_nombre}}
                    </div>
                </div>
                }
            </td>
            }
            }
        </tr>
    </tbody>
    }
</table>
<br>
}@else {
<br>
Aun no hay planificación semanal
} -->

<br>
<button class="button is-success" (click)=" crearPlanificacion()">
    <span>Guardar</span>
</button>