<app-modal-promotoras
[active]="Modal()"
[Edicion]="Edicion()"
[data]="data"
(onCloseModal)="ManejoModal(); cerrarEdicion()"
></app-modal-promotoras>

<button class="button is-primary" (click)="ManejoModal()">
  <span class="icon"><i class="fas fa-plus-square"></i></span>
  <span>Nuevo</span>
</button>
<hr>
<table class="table is-striped is-fullwidth">
    @if (paginatedPromotoras.length > 0) {
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Región</th>
                <th>Sueldo (USD)</th>
                <th>Role</th>
                <th>Acción</th>
            </tr>
        </thead>
    }
    <tbody>
      @if(UserService.loading()){
        <app-loadings />
      } @else {

        @for (empleada of paginatedPromotoras; track $index) {
            <tr>
                <td>{{empleada.nombre}} {{empleada.apellido}}</td>
                <td>{{empleada.correo}}</td>
                <td>{{empleada.telefono}}</td>
                <td>{{empleada.region}}</td>
                <td>{{empleada.sueldo}} $</td>
                <td>{{empleada.role}}</td>
                <td>
                  <i class="fas fa-user-edit" style="color: rgb(129, 228, 129); cursor: pointer;" (click)="Editar(empleada)"></i> 
                  <i class="fas fa-user-minus" style="color: rgb(228, 129, 129); cursor: pointer;" (click)="ElimiarPromotora(empleada)"></i>
                </td>
            </tr>
        } @empty {
          <div class="notification is-primary is-light">
            No se encontraron promotoras.
          </div>
        }

      }
    </tbody>
</table>

  <!-- Paginación -->
  <nav class="pagination" role="navigation" aria-label="pagination">
    <!-- Botón "Anterior" -->
    <a class="pagination-previous" [class.is-disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
      Anterior
    </a>
    
    <!-- Lista de páginas -->
    <ul class="pagination-list">
    @for(page of [].constructor(totalPages); track $index){
        <li>
          <a class="pagination-link" 
             [class.is-current]="currentPage === $index + 1" 
             (click)="goToPage($index + 1)">
            {{$index + 1}}
          </a>
        </li>
    }
    </ul>
    
    <!-- Botón "Siguiente" -->
    <a class="pagination-next" [class.is-disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
      Siguiente
    </a>
  </nav>
  
  <!-- Mostrar información de paginación -->
  <div class="pagination-info">
    Página {{currentPage}} de {{totalPages}}
  </div>