.oculto {
  overflow: hidden;
  max-height: 0px;
  padding: 0px;
  margin: 0px;
  transition: max-height 0.5s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;
}

.activo {
  // max-height:1000px;
  transition: max-height 0.9s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;
}

/* Estilo inicial de la flecha */
.icon i {
  transition: transform 0.3s ease;
  /* Transición suave para el giro */
}

/* Clase activa que rota la flecha 180 grados */
.icon.rotado i {
  transform: rotate(180deg);
}


.low {
  color: rgb(228, 129, 129);
  font-weight: bolder;
}

.hight {
  color: rgb(129, 228, 129);
  font-weight: bolder;
}