<div class="card" style="background-color: #34495E; color: rgb(212, 212, 212);">
    <div class="card-content">
        <app-title title="Estadísticas" />
    </div>
</div>


<hr>

<div class="field is-grouped">
    <div class="control">
        <button class=" button is-primary" [routerLink]="['/dashboard/planificacion']">
            <span>Nueva planificación</span>
        </button>
    </div>
    <div class="control">
        <button class="button is-success" [routerLink]="['/dashboard/charts']">
            <span class="icon"><i class="fas fa-chart-pie"></i></span>
            <span>Ver gráficas</span>
        </button>
    </div>
</div>

<br> <br>

<span class="header">
    @if(planificacionService.loading()){
    <app-loadings></app-loadings>
    } @else {
    @if(indexPlanificacion){
    <div class="field is-grouped">
        <div class="control">
            <label for="" class="label">Mes</label>
            <div class="select">
                <select [(ngModel)]="indexPlanificacion" (change)="cambiarPlanificacion()">
                    @for(planificaciones of planificacionService.planificacion(); track $index){
                    <option [value]="$index">{{planificaciones.mes}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="control">
            <label for="" class="label">Inicio</label>
            <input type="date" class="input"
                [value]="simplificar(planificacionService.planificacion()[indexPlanificacion].inicio)" disabled>
        </div>
        <div class="control">
            <label for="" class="label">Cierre</label>
            <input type="date" class="input"
                [value]="simplificar(planificacionService.planificacion()[indexPlanificacion].cierre)" disabled>
        </div>
    </div>
    }
    }
    <br>
</span>

<div class="field">
    <div class="control">
        <label for="" class="label">Promotoras</label>
        <div class="select">
            <select (change)="promotorasFilteredFunction($event.target)">
                <option value="fija">Fijas</option>
                <option value="por destajo">Por destajo</option>
            </select>
        </div>
    </div>
</div>
@if(planificacionService.loading()){
<app-loadings></app-loadings>
} @else {
@for( promotora of promotorasFiltered; track $index; let i = $index){
@if (!planificacionService.planificacion()[indexPlanificacion]) {
<app-loadings></app-loadings>
<br>
}@else {
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            <span *ngIf="noHuboReporteAyer(promotora.nombre, promotora.apellido)" class="punto-rojo"></span> 
            <a [routerLink]="['/dashboard/promotora',promotora._id]">{{promotora.nombre}}
                {{promotora.apellido}}</a> {{getPuntos(promotora.nombre, promotora.apellido)
            || 0}}
            puntos
            -
            {{buscarDiasTrabajados(promotora.nombre, promotora.apellido) | number}} dia(s) trabajado(s)
        </p>
        <button class="card-header-icon" aria-label="more options" (click)="togglePromotoraSection(i)">
            <span class="icon" [ngClass]="{'rotado': isRotated[i]}">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </header>
    <div class="card-content" [ngClass]="{'oculto':!togglePromotora[i], 'activo':togglePromotora[i]}">

        <table class="table is-fullwidth">
            <tr>
                <th>Vendido</th>
                <th>Incentivo</th>
            </tr>
            <tr>
                <td>{{ getGastado(promotora.nombre, promotora.apellido)}} productos</td>
                <td>{{obtenerIncentivo(promotora.nombre, promotora.apellido).totales | currency:'USD'}}
            </tr>
        </table>
        @for(fecha of getFechasDelRango(); track $index; let j = $index){
        <div>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{fecha}} -
                        @if(getReportesPorFecha(promotora.nombre, promotora.apellido, fecha) === undefined){
                        No hay reportes registrados
                        } @else {
                        @for(reporte of getReportesPorFecha(promotora.nombre,
                        promotora.apellido, fecha); track $index){
                        @if(reporte.productos[0]){
                    <div>  ({{reporte.productos[0].marca}}) 
                        {{reporte.totalSubtotal}} productos ({{reporte.totalPuntos}} Puntos)

                        @if(promotora.fija){

                        @if(reporte.tipo === 'Impulso'){

                        @if(reporte.productos[0].marca === 'Mystic'){

                        @if(puntos(reporte.totalPuntos) >=
                        planificacionService.planificacion()[indexPlanificacion].metas.tradicional.mystic.impulso){
                        <i class="far fa-thumbs-up" style="color: rgb(129, 228, 129);"></i>
                        } @else{
                        <i class="far fa-thumbs-down" style="color: rgb(228, 129, 129);"></i>
                        }
                        } @else {
                        @if(puntos(reporte.totalPuntos) >=
                        planificacionService.planificacion()[indexPlanificacion].metas.tradicional.qerametik.impulso){
                        <i class="far fa-thumbs-up" style="color: rgb(129, 228, 129);"></i>
                        } @else{
                        <i class="far fa-thumbs-down" style="color: rgb(228, 129, 129);"></i>
                        }
                        }
                        } @else {
                        @if(reporte.productos[0].marca === 'Mystic'){

                        @if(puntos(reporte.totalPuntos) >=
                        planificacionService.planificacion()[indexPlanificacion].metas.tradicional.mystic.evento){
                        <i class="far fa-thumbs-up" style="color: rgb(129, 228, 129);"></i>
                        } @else{
                        <i class="far fa-thumbs-down" style="color: rgb(228, 129, 129);"></i>
                        }
                        } @else {
                        @if(puntos(reporte.totalPuntos) >=
                        planificacionService.planificacion()[indexPlanificacion].metas.tradicional.qerametik.evento){
                        <i class="far fa-thumbs-up" style="color: rgb(129, 228, 129);"></i>
                        } @else{
                        <i class="far fa-thumbs-down" style="color: rgb(228, 129, 129);"></i>
                        }
                        }
                        }
                        } @else {
                        @if(reporte.tipo === 'Impulso'){

                        @if(reporte.productos[0].marca === 'Mystic'){

                        @if(puntos(reporte.totalPuntos) >=
                        planificacionService.planificacion()[indexPlanificacion].metas.rebranding.mystic.impulso){
                        <i class="far fa-thumbs-up" style="color: rgb(129, 228, 129);"></i>
                        } @else{
                        <i class="far fa-thumbs-down" style="color: rgb(228, 129, 129);"></i>
                        }
                        } @else {
                        @if(puntos(reporte.totalPuntos) >=
                        planificacionService.planificacion()[indexPlanificacion].metas.rebranding.qerametik.impulso){
                        <i class="far fa-thumbs-up" style="color: rgb(129, 228, 129);"></i>
                        } @else{
                        <i class="far fa-thumbs-down" style="color: rgb(228, 129, 129);"></i>
                        }
                        }
                        } @else {
                        @if(reporte.productos[0].marca === 'Mystic'){

                        @if(puntos(reporte.totalPuntos) >=
                        planificacionService.planificacion()[indexPlanificacion].metas.rebranding.mystic.evento){
                        <i class="far fa-thumbs-up" style="color: rgb(129, 228, 129);"></i>
                        } @else{
                        <i class="far fa-thumbs-down" style="color: rgb(228, 129, 129);"></i>
                        }
                        } @else {
                        @if(puntos(reporte.totalPuntos) >=
                        planificacionService.planificacion()[indexPlanificacion].metas.rebranding.qerametik.evento){
                        <i class="far fa-thumbs-up" style="color: rgb(129, 228, 129);"></i>
                        } @else{
                        <i class="far fa-thumbs-down" style="color: rgb(228, 129, 129);"></i>
                        }
                        }
                        }
                        }
                    </div> 
                    } @else {
                    Falta justificada
                    }
                    }


                    }
                    </p>
                    <button class="card-header-icon" aria-label="more options" (click)="toggleVentaSection(i, j)">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </header>
                <!-- @ts-ignore -->
                @if(getReportesPorFecha(promotora.nombre, promotora.apellido, fecha)){
                @for(reporte of getReportesPorFecha(promotora.nombre, promotora.apellido, fecha); track $index;){
                <div class="card-content"
                    [ngClass]="{'oculto': !toggleVentas[i] || !toggleVentas[i][j], 'activo': toggleVentas[i] && toggleVentas[i][j]}">
                    <b>Establecimiento:</b> {{reporte.cliente}} <br>
                    <b>Tipo:</b> {{reporte.tipo}} <br>
                    <b>Marca:</b>
                    @if(reporte.productos[0]){
                    {{reporte.productos[0].marca}}
                    }
                    <br>
                    <b>Observación:</b> {{reporte.observacion}}
                    <hr>
                    <table class="table is-fullwidth is-striped"
                        [ngClass]="{'oculto': !toggleVentas[i] || !toggleVentas[i][j], 'activo': toggleVentas[i] && toggleVentas[i][j]}">
                        <thead>
                            <tr>
                                <th>Linea</th>
                                <th>Marca</th>
                                <th>Producto</th>
                                <th>Inicio</th>
                                <th>Final</th>
                                <th>Cantidad (Und)</th>
                                <th>Puntos</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(productos of reporte.productos; track $index){
                            <tr>
                                <td>{{productos.linea}}</td>
                                <td>{{productos.marca}}</td>
                                <td>{{productos.producto}}</td>
                                <td>{{productos.inicio}}</td>
                                <td>{{productos.final}}</td>
                                <td>{{productos.cantidad}}</td>
                                <td>{{productos.puntosTotales}}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                }
                }
            </div>

        </div>
        <br>
        }
    </div>
</div>
}
}
}