<app-planificacion
[active]="active"
(onCloseModal)="active = false">

</app-planificacion>
<div class="card" style="background-color: #34495E; color: rgb(212, 212, 212);">
    <div class="card-content">
        <app-title title="Estadísticas"/>
    </div>
</div>
<hr>

<button class="button is-primary" (click)="active = true">
    <span>Nueva planificación</span>
</button>

<br> <br>

@for( promotora of promotoras.users(); track $index; let i = $index){
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{promotora.nombre}} {{promotora.apellido}} ({{getPuntos(promotora.nombre, promotora.apellido) || 0}} puntos)
            </p>
            <button class="card-header-icon" aria-label="more options" (click)="togglePromotoraSection(i)">
                <span class="icon" [ngClass]="{'rotado': isRotated[i]}">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content" [ngClass]="{'oculto':!togglePromotora[i], 'activo':togglePromotora[i]}">
            <span><b>Total vendido:</b> {{ getGastado(promotora.nombre, promotora.apellido) || 0 | currency:'USD' }}</span>
            <br> <br>
            @for(fecha of getFechasDelRango(); track $index; let j = $index){
            <div>
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{fecha}} - 
                            @if(!getReportesPorFecha(promotora.nombre, promotora.apellido, fecha)){
                                No hay reportes registrados
                            } @else {

                                {{getReportesPorFecha(promotora.nombre, promotora.apellido, fecha)?.totalSubtotal | currency:'USD'}} ({{getReportesPorFecha(promotora.nombre, promotora.apellido, fecha)?.totalPuntos}} Puntos)
                            }
                        </p>
                        <button class="card-header-icon" aria-label="more options" (click)="toggleVentaSection(i, j)">
                            <span class="icon">
                              <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </header>
                    <!-- @ts-ignore -->
                    @if(getReportesPorFecha(promotora.nombre, promotora.apellido, fecha)){
                        <div class="card-content" [ngClass]="{'oculto': !toggleVentas[i] || !toggleVentas[i][j], 'activo': toggleVentas[i] && toggleVentas[i][j]}">
                            <b>Establecimiento:</b> {{getReportesPorFecha(promotora.nombre, promotora.apellido, fecha)?.cliente}} <br>
                            <b>Tipo:</b> {{getReportesPorFecha(promotora.nombre, promotora.apellido, fecha)?.tipo}} <br>
                            <b>Observación:</b> {{getReportesPorFecha(promotora.nombre, promotora.apellido, fecha)?.observacion}}
                            <hr>
                            <table class="table is-fullwidth is-striped" [ngClass]="{'oculto': !toggleVentas[i] || !toggleVentas[i][j], 'activo': toggleVentas[i] && toggleVentas[i][j]}">
                                <thead>
                                    <tr>
                                        <th>Linea</th>
                                        <th>Marca</th>
                                        <th>Producto</th>
                                        <th>Cantidad (Und)</th>
                                        <th>Puntos</th>
                                        <th>Subtotal (USD)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(productos of getReportesPorFecha(promotora.nombre, promotora.apellido, fecha)?.productos; track $index){
                                        <tr>
                                            <td>{{productos.linea}}</td>
                                            <td>{{productos.marca}}</td>
                                            <td>{{productos.producto}}</td>
                                            <td>{{productos.cantidad}}</td>
                                            <td>{{productos.puntosTotales}}</td>
                                            <td>{{productos.subtotal}} $</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        
                        </div>
                    } 
                </div>
                
            </div>
            <br>
            }
        </div>
    </div>
}
