@if(loading_perfil){
<div class="card"
    style="background: linear-gradient(to right, #001a72, #003c99, #005ebf, #4a9dc1, #6bcaba); color: rgb(212, 212, 212);">
    <div class="card-content">
        <app-title title="Progreso" />
        {{perfil.nombre}} {{perfil.apellido}}
    </div>
</div>


<div class="control">
    <label for="" class="label">Mes</label>
    <div class="select">
        <select [(ngModel)]="indexPlanificacion" (change)="cambiar()">
            @for(planificaciones of planificacion.planificacion(); track $index){
            <option [value]="$index">{{planificaciones.mes}}</option>
            }
        </select>
    </div>
</div>
<hr>

<div class="columns">
    <div class="column is-4">
        <div class="card">
            <div class="card-content">
                <span class="title">Marca mas vendedia</span>
                <canvas id="marcas"></canvas>
            </div>
        </div>
    </div>
    <div class="column is-4">
        <div class="card">
            <div class="card-content">
                <span class="title">Venta por linea</span>
                <canvas id="lineas"></canvas>
            </div>
        </div>
    </div>
</div>

<span class="title">
    Progreso Mystic ({{totalCantidadMystic | number: '2.0-0'}} Productos - {{totalPuntosMystic | number: '2.2-2'}}
    Puntos)
</span>
<hr>

@if(loading){
<table class="table is-fullwidth is-striped">
    <thead>
        <th>Fecha</th>
        <th>Puntuacion obtenida</th>
        <th>Productos vendidos</th>
        <th>Eliminar</th>
    </thead>
    <tbody>
        @for(reporte of ReportesFiltradosMystic; track $index){
        <tr>
            <td>{{reporte.fecha | date:'dd/MM/YYYY'}}</td>
            <td>{{reporte.puntuacionTotal}}</td>
            <td>{{reporte.totalCantidad}}</td>
            <td>
                <button class="button" style="background-color: transparent; border: none; color: rgb(192, 102, 102);"
                    (click)="EditarReporte_Mystic(reporte._id)">
                    <span class="icon"><i class="fas fa-trash-alt"></i></span>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
}@else {
<app-loadings />
}

<span class="title">
    Progreso Qerametik ({{totalCantidadQerametik | number: '2.0-0'}} Productos - {{totalPuntosQerametik | number:
    '2.2-2'}} Puntos)
</span>
<hr>

@if(loading){
<table class="table is-fullwidth is-striped">
    <thead>
        <th>Fecha</th>
        <th>Puntuacion obtenida</th>
        <th>Productos vendidos</th>
        <th>Eliminar</th>
    </thead>
    <tbody>
        @for(reporte of ReportesFiltradosQerametik; track $index){
        <tr>
            <td>{{reporte.fecha | date:'dd/MM/YYYY'}}</td>
            <td>{{reporte.puntuacionTotal}}</td>
            <td>{{reporte.totalCantidad}}</td>
            <td>
                <button class="button" style="background-color: transparent; border: none; color: rgb(192, 102, 102);"
                    (click)="EditarReporte_Qera(reporte._id)">
                    <span class="icon"><i class="fas fa-trash-alt"></i></span>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
}@else {
<app-loadings />
}

<span class="title">
    Ventas por cliente
</span>
<hr>
@if(loading_clientes){
<table class="table is-fullwidth is-striped">
    <tbody>
        <tr *ngFor="let entry of Separado_por_clientes; let i = index;">
            <th><a [routerLink]="['/dashboard/cliente',entry.nombre]">{{ entry.nombre }}</a></th>
            <td>{{ entry.totalProductosVendidos }} Productos - ({{entry.totalMystic}} Mystic) ({{entry.totalQerametik}}
                Qerametik)</td>
        </tr>
    </tbody>
</table>
}

<br>

}@else {
Cargando perfil...
}