<div class="modal" [ngClass]="{'is-active':modalCliente}">
    <div class="modal-background" (click)="modalCliente = false; newPlanificacion = true"></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <p class="title">Buscar cliente</p>
            <input type="text" name="" id="" class="input" (input)="BuscarCliente($event.target)">
            <hr>
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Clientes</th>
                    </tr>
                </thead>
                <tbody>
                    @for (cliente of filteredClientes; track $index) {
                    <tr>
                        <td><i class="fas fa-plus" style="color: rgb(100, 180, 100)" (click)="addCliente_(cliente)"></i>
                        </td>
                        <td>{{cliente.cliente}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'is-active':newPlanificacion}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Planificación {{plan.promotora}} {{plan.fecha | date:'dd/MM/yyyy'}}</p>
            <button class="delete" aria-label="close" (click)="cerrar()"></button>
        </header>
        <div class="modal-card-body">
            <div class="field">
                <div class="control">
                    <label class="label">Tipo</label>
                    <div class="select">
                        <select [(ngModel)]="plan.tipo">
                            <option value="Evento">Evento</option>
                            <option value="Impulso">Impulso</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Buscar</label>
                    <button class="button is-success" (click)="newPlanificacion = false; modalCliente = true">
                        <span class="icon"></span>
                    </button>
                </div>
                <div class="control">
                    <label for="" class="label">Cliente</label>
                    <div class="select">
                        <select [(ngModel)]="qlo" (change)="addCliente($event.target)">
                            @for(cliente of Clientes.clientes(); track $index){
                            <option value="{{cliente._id}}__{{cliente.cliente}}"
                                (click)="plan.cliente_nombre = cliente.cliente">
                                {{cliente.cliente}}</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Ejec. de venta</label>
                    <input type="text" class="input" [(ngModel)]="plan.ejecutivo" disabled>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="control" style="width: 360px;" [(ngModel)]="plan.observacion">
                        <textarea class="textarea" rows="2" placeholder="Escribe una observación"></textarea>
                    </div>
                </div>
            </div>
            @if (plan.cliente && plan.ejecutivo) {
            <button class="button is-primary" (click)="onAgregarPlanificacion.emit()">
                <span>Listo</span>
            </button>
            }
        </div>
    </div>
</div>